.estilosimagenes {
  border-radius: 10px;
  text-align: center;
}

.estilosheader {
  background-color: #333;
  color: white;
  padding: 20px;
}

.centradoheader {
  text-align: center;
}

.organizacion_nav {
  background-color: #d0cfcf;
  text-align: center;
}

.estilos_a_nav {
  display: inline-block;
  color: black;
  padding: 15px;
  text-decoration: none;
}

.estilo_imagen_main {
  border-radius: 20px;
}

.estilo_precio {
  font-family: serif;
  font-size: 23px;
}

.estilo_titulo_producto {
  font-family: monospace;
  font-size: 35px;
}
.talles {
  list-style: none;
  /* quitar las viñetas */
  padding: 0;
  /* quitar el relleno */
}

.talles li {
  display: inline-block;
  /* mostrar los elementos en línea */
  border: 1px solid black;
  /* agregar un borde cuadrado */
  width: 40px;
  /* dar un ancho fijo */
  height: 40px;
  /* dar una altura fija */
  line-height: 40px;
  /* centrar el texto verticalmente */
  text-align: center;
  /* centrar el texto horizontalmente */
}

.efecto_boton_nav:hover {
  background-color: #ddd;
}

.organizacion_footer {
  text-align: center;
  color: rgb(0, 0, 0);
}

.estilo_main_a {
  display: inline-block;
  background-color: #b5b5b5;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 61px;
}

html {
  background-color: rgb(238, 236, 236);
}

.posicion_main {
  display: flex;
}

.organizacion_informacion_producto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.organizacion_body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.arreglo_main {
  text-align: right;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.efecto_boton_main_a:hover {
  background-color: #5e5d5d;
}

.estilo_h4_cantidad {
  margin: 0;
  font-weight: normal;
}

.estilo_select_cantidad {
  width: 32px;
}

.alineacion_logo_compra {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}
