.estilosimagenes {
  border-radius: 10px;
  text-align: center;
}

.estiloheader {
  background-color: #333;
  color: white;
  padding: 20px;
}

.estilo_select {
  padding: 6px;
    width: 139px;
    border-radius: 10px;
}

.centradoheader {
  text-align: center;
}

.organizacion_nav {
  background-color: #d0cfcf;
  text-align: center;
}

.estilos_a_nav {
  display: inline-block;
  color: black;
  padding: 15px;
  text-decoration: none;
}

.efecto_boton_nav:hover {
  background-color: #ddd;
}

.organizacion_footer {
  text-align: center;
  color: rgb(0, 0, 0);
}

html {
  background-color: rgb(238, 236, 236);
}


.estilo_formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizacion_body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.inputforma {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 44px;
  margin: 10px;
}

.estilo_submit {
  background-color: #bdbaba;
  border: 2px solid black;
  width: 150px;
  padding: 15px;
  border-radius: 10px;
}

.formaenviar {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
}